logs
packets
stores
/tower/settings/license.cfg
/tower/temp/packets.log
temp
_targeters
C__Program_Files_(x86)_NCsoft_Lineage_II_system_
worker/lib/opts.js
tower/config/C__games_hf_system_/1122Go.l2t
tower/config/C__games_hf_system_/XxXxXyMxXxX.l2t
