div.page-title
	div.title-env
			h1.title L2Broker Alpha 0.1.1
			p.description Здесь вы можете посмотреть стоимость товаров как для продажи, так и для покупки на рынке RPG CLUB x7	
				
div.row 
	div.col-sm-12
		div.panel.panel-default
			div.panel-heading
				h3.panel-title Зачем пользоваться брокером?
			div.panel-body
				p Это всегда свежая информация по всем торговцам сервера. Это ежесекундное обновление базы. Это возможность быть всегда в курсе ценовых тенденций рынка и вести грамотную торговлю. Это бесплатная информация о любом предмете и возможноть отслеживать его цену. L2Broker это залог успешной торговли!
					
div.row 
	div.col-sm-6
		div.panel.panel-default
			div.panel-heading
				h3.panel-title Что сделано
			div.panel-body
				p 
					h3 21.12.2015
					ul
						li Заточка и аттрибут предметов добавлены в отображение
					h3 19.12.2015 0.1.1
					ul
						li Улучшен импорт в базу
						li Добавлен бесконечный скролл, там где требуется
						li Корректная сортировка списка товаров
						li Фильтрация по времени скана мерчантов
						li Разбитие продавцов и покупателей на табы в рамках одной вещи
						li Анимация загрузки таблицы
					h3 13.12.2105 0.1.0
					ul
						li Импорт данных рынка в базу
						li Показ списка товаров
						li Фильтрация списка товаров
						li Сортировка списка товаров
						li Показ продавцов товара
						li Сортировка продавцов товара
	div.col-sm-6(style="height:100%") 
		div.panel.panel-default
			div.panel-heading
				h3.panel-title Что будет сделано
			div.panel-body
				p
					ul
						li Список продаж упаковок
						li Показ торгового чата городов
						li Заточка и аттрибут предметов
						li Анимация на сайте
						li Регистрация
						li Оптимизация быстродействия	
						li Мобильное представление
						li Собственная бд итемов
						li Стоимость крафта
						li Графики изменения цен
						
						