div.row
	div.col-sm-8
		div.xe-widget.xe-map-stats
			div.xe-map
				div#sample-map-widget
			div.xe-details
				div.xe-label
					h3 {{'TOP_SELLERS' | translate}}
					p {{'TOP_SELLERS_DESC' | translate}}
			