div.page-title
	div.title-env
			h1.title Брокер Lineage2
			p.description Ваш проводник в жестоком мире MMORPG Lineage2
div.row 
	div.col-sm-5(style="min-height:1000px;height:100%") 
		div.panel.panel-default
			div.panel-heading
				h3.panel-title Что это за сайт?
			div.panel-body
				p На данный момент это мониторинг рынка сервера RPG Club x7
				